<script>
  import PageTitle from "../components/support/PageTitle.svelte";
  import Grid from "../components/Grid.svelte";
  import Code from "../components/Code.svelte";
  import Heading from "../components/Heading.svelte";
  import Text from "../components/Text.svelte";
  let step1 = `npx degit sveltejs/template my-new-fvscl-app
cd my-new-fvscl-app
npm i fvscl --save-dev
npm i
npm run dev`;
  let step2 = `<script>
    import {Heading, Button} from "fvscl";
<\/script>

<Heading level="1">Hello world</Heading>
<Button onClick={() => alert('Clicky click')}>Button</Button>`;
  let step3 = `html {
  --min-width: 320;
  --max-width: 1440;
  --min-size: 14;
  --max-size: 18;
  --min-ratio: 1.1;
  --max-ratio: 1.4;
}`;
</script>

<style>
  p {
    max-width: 60ch;
  }
</style>

<PageTitle title="Use" />
<Grid>
  <Text>
    <p>
      Using FVSCL is pretty straighforward if you're comfortable using Svelte or
      have experience with modern web frameworks.
    </p>
    <p>
      It's an installable NPM package so hopefully none of this is too
      complicated.
    </p>
  </Text>

  <Heading margin="top" level="4">Step 1: Installing FVSCL</Heading>
  <Code pre>{step1}</Code>
  <Text>
    <p>
      The above code will install
      <strong>svelte</strong>
      in a directory called
      <em>my-new-fvscl-app</em>
      with a base template and with
      <strong>FVSCL</strong>
      available to import.
    </p>
    <p>
      If all has gone well then the app should start running locally - terminal
      should tell you where.
    </p>
  </Text>
  <Heading margin="top" level="4">Step 2: Using components</Heading>
  <Code pre>{step2}</Code>
  <Text>
    <p>That's basically it.</p>
  </Text>
  <Heading margin="top" level="4">Step 3: Customising the CSS</Heading>
  <Text>
    <p>
      Due to
      <strong>FVSCL</strong>
      using custom css properties it's easy to override things. By applying some
      global variables to
      <strong>:root</strong>
      or
      <strong>html</strong>
      then it's fast to get started. Some components have specific css variables
      that can override certain stylistic choices.
    </p>
  </Text>
  <Code pre>{step3}</Code>
  <Text>
    <p>
      The above code will set the base size at screens of width
      <strong>320px</strong>
      to be
      <strong>14px</strong>
      and the ratio between steps (e.g between h1 and h2 elements) will be
      <strong>1.1.</strong>
      . At screen widths of
      <strong>1440px</strong>
      the base size will be
      <strong>18px</strong>
      and the ratio between steps will be
      <strong>1.4.</strong>
    </p>
    <p>
      <strong>FVSCL</strong>
      uses 2 negative steps and 5 positive steps from the base unit.
    </p>
    <p>
      See the
      <a
        href="https://gitlab.com/superallan/fvscl-slack/-/blob/master/public"
        target="_blank">
        code on gitlab
      </a>
      for an example of how to do it or
      <a href="https://utopia.fyi/blog/css-modular-scales/" target="_blank">
        read the Utopia article for much more information.
      </a>
    </p>
  </Text>
</Grid>
