<script>
  import { onMount } from "svelte";
  import Grid from "../Grid.svelte";
  import Heading from "../Heading.svelte";
  import Form from "../Form.svelte";
  import Range from "../Range.svelte";
  let fiddle = false;

  onMount(() => {
    var body = document.querySelector("body");
    var html = document.querySelector("html");

    var minSizeValue = document.querySelector(".minSize input").value;
    var maxSizeValue = document.querySelector(".maxSize input").value;
    var minRatioValue = document.querySelector(".minRatio input").value;
    var maxRatioValue = document.querySelector(".maxRatio input").value;

    html.setAttribute(
      "style",
      "--min-size:" +
        minSizeValue +
        ";--max-size:" +
        maxSizeValue +
        ";--min-ratio:" +
        minRatioValue +
        ";--max-ratio:" +
        maxRatioValue +
        ";"
    );

    body.addEventListener("change", event => {
      var minSizeValue = document.querySelector(".minSize input").value;
      var maxSizeValue = document.querySelector(".maxSize input").value;
      var minRatioValue = document.querySelector(".minRatio input").value;
      var maxRatioValue = document.querySelector(".maxRatio input").value;
      if (
        event.target !== minSizeValue &&
        event.target !== maxSizeValue &&
        event.target !== minRatioValue &&
        event.target !== maxRatioValue
      ) {
        html.setAttribute(
          "style",
          "--min-size:" +
            minSizeValue +
            ";--max-size:" +
            maxSizeValue +
            ";--min-ratio:" +
            minRatioValue +
            ";--max-ratio:" +
            maxRatioValue +
            ";"
        );
      }
    });
  });
</script>

<style>
  input {
    display: none;
  }
  .wrapper {
    z-index: 100;
    right: 0;
    position: fixed;
    top: 50%;
    transform: translate(0px, -50%);
    padding: var(--gap);
    background-color: var(--color-light);
    border-top-left-radius: var(--border-radius-lg);
    border-bottom-left-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-1);
    max-width: calc(100vw - (var(--gap) * 3));
  }
  div {
    display: none;
  }
  .fiddle {
    min-width: 300px;
    width: 30vw;
    display: block;
  }
</style>

<span class="wrapper">
  <Grid>
    <label for="showFiddle">
      <Heading level="5" margin="none">
        {#if fiddle}Stop fiddling!{:else}Fiddle{/if}
      </Heading>
      <input id="showFiddle" type="checkbox" bind:checked={fiddle} />
    </label>

    <div class:fiddle>
      <Form density="tight">
        <Range
          label="Min Size:"
          name="minSize"
          class="minSize"
          value="16"
          min="12"
          max="20"
          step="0.1"
          outputUnit="px"
          help="Base size on small viewports" />

        <Range
          label="Min Ratio"
          name="minRatio"
          class="minRatio"
          value="1.125"
          min="1.0"
          max="2.0"
          step="0.001"
          help="Ratio between steps for small viewports" />
        <Range
          label="Max Size:"
          name="maxSize"
          class="maxSize"
          value="22"
          min="12"
          max="30"
          step="0.1"
          outputUnit="px"
          help="Base size on larger viewports" />
        <Range
          label="Max Ratio"
          name="maxRatio"
          class="maxRatio"
          value="1.333"
          min="1.0"
          max="2.0"
          step="0.001"
          help="Ratio between steps for larger viewports" />

      </Form>
    </div>
  </Grid>
</span>
