<script>
  import Styles from "../Styles.svelte";
</script>

<style>
  span {
    color: var(--color-info-text);
    background-color: var(--color-info-background);
    font-weight: var(--font-weight-bold);
    mix-blend-mode: darken;
  }
</style>

<span>
  <slot />
</span>
