<script>
  import Styles from "../Styles.svelte";
  import Heading from "../Heading.svelte";
  import List from "../List.svelte";
  import ListItem from "../ListItem.svelte";
  const class_name = "";
  export { class_name as class };
  export let segment;
</script>

<style>
  [aria-current] {
    position: relative;
    display: inline-block;
  }

  [aria-current]::after {
    position: absolute;
    content: "";
    width: 100%;
    height: var(--border-width-base);
    background-color: var(--color-light);
    display: block;
    bottom: calc(var(--border-width-base) * -1);
  }
  a {
    text-decoration: none;
    display: block;
  }
  span {
    opacity: 0.5;
    margin-left: var(--space-5);
  }
</style>

<List margin="top bottom" horizontal>
  <ListItem>
    <a aria-current={segment === undefined ? 'page' : undefined} href=".">
      FVSCL
    </a>
  </ListItem>
  <ListItem>
    <a aria-current={segment === 'about' ? 'page' : undefined} href="about">
      About
    </a>
  </ListItem>
  <ListItem>
    <a aria-current={segment === 'use' ? 'page' : undefined} href="use">Use</a>
  </ListItem>
  <ListItem>
    <span>Components →</span>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'button' ? 'page' : undefined}
      href="component/button">
      button
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'buttongroup' ? 'page' : undefined}
      href="component/buttongroup">
      button group
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'heading' ? 'page' : undefined}
      href="component/heading">
      heading
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'text' ? 'page' : undefined}
      href="component/text">
      text
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'list' ? 'page' : undefined}
      href="component/list">
      list
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'grid' ? 'page' : undefined}
      href="component/grid">
      grid
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'card' ? 'page' : undefined}
      href="component/card">
      card
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'form' ? 'page' : undefined}
      href="component/form">
      form
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'input' ? 'page' : undefined}
      href="component/input">
      input
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'range' ? 'page' : undefined}
      href="component/range">
      range
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'radio' ? 'page' : undefined}
      href="component/radio">
      radio
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'checkbox' ? 'page' : undefined}
      href="component/checkbox">
      checkbox
    </a>
  </ListItem>
  <ListItem>
    <a
      aria-current={segment === 'textarea' ? 'page' : undefined}
      href="component/textarea">
      textarea
    </a>
  </ListItem>
</List>
