<script>
  import Styles from "../Styles.svelte";
  import PageTitle from "../support/PageTitle.svelte";
  import Code from "../Code.svelte";
  import Grid from "../Grid.svelte";
  import Details from "../Details.svelte";
  import Heading from "../Heading.svelte";
  import Table from "../Table.svelte";
  let example;
  export let title;
  export let markup;
  export let customCss;
  export let props = "";
</script>

<style>
  .example {
    background: var(--render-background);
    grid-column: 1 / -1;
    box-shadow: var(--shadow--2) inset;
    border-radius: var(--border-radius-xs);
  }
  .example > :global(div) {
    padding: var(--gap);
  }
</style>

<Grid>
  <PageTitle {title} />
  <div class="example">
    <slot name="example">{example}</slot>
  </div>
  {#if markup}
    <div class="markup">
      <Details summary="Markup">
        <slot name="markup">
          <Code pre>{markup}</Code>
        </slot>
      </Details>
    </div>
  {/if}
  {#if customCss}
    <div class="custom">
      <Details summary="Custom CSS Properties">
        <slot name="customCss">
          <Code pre>{customCss}</Code>
        </slot>
      </Details>
    </div>
  {/if}
  {#if props}
    <div class="props">
      <Details summary="Props">
        <Table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {#each props as prop}
              <tr>
                <td>{prop.title}</td>
                <td>
                  <Code>{prop.value}</Code>
                </td>
              </tr>
            {/each}
          </tbody>
        </Table>
      </Details>
    </div>
  {/if}
</Grid>
