<script>
  import Heading from "../../components/Heading.svelte";
  import Button from "../../components/Button.svelte";
  import ButtonGroup from "../../components/ButtonGroup.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";
  import Table from "../../components/Table.svelte";

  let markup = `<ButtonGroup>
  <Button style="primary">Next</Button>
  <Button>Cancel</Button>
</ButtonGroup>
<hr />
<ButtonGroup position="end">
  <Button style="primary">Next</Button>
  <Button>Cancel</Button>
</ButtonGroup>
<hr />
<ButtonGroup position="spread">
  <Button style="primary">Next</Button>
  <Button>Cancel</Button>
</ButtonGroup>`;

  let props = [
    {
      title: "class",
      value: "string"
    },
    {
      title: "position",
      value: '"start" | "end" | "spread" '
    }
  ];
</script>

<Use title="Button Group" {markup} {props}>
  <div slot="example">
    <Grid>
      <ButtonGroup>
        <Button style="primary">Next</Button>
        <Button>Cancel</Button>
      </ButtonGroup>
      <hr />
      <ButtonGroup position="end">
        <Button style="primary">Next</Button>
        <Button>Cancel</Button>
      </ButtonGroup>
      <hr />
      <ButtonGroup position="spread">
        <Button style="primary">Next</Button>
        <Button>Cancel</Button>
      </ButtonGroup>
    </Grid>
  </div>
</Use>
