<script>
  import PageTitle from "../../components/support/PageTitle.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";
  import List from "../../components/List.svelte";
  import ListItem from "../../components/ListItem.svelte";
  import Table from "../../components/Table.svelte";
  import Button from "../../components/Button.svelte";

  let markup = `<Button>Button</Button>
<Button style="ghost">Ghost Button</Button>
<Button style="primary">Primary Button</Button>
<Button style="positive">Positive Button</Button>
<Button style="negative">Negative Button</Button>
<Button size="xs">Extra Sm Button</Button>
<Button size="sm">Sm Button</Button>
<Button size="lg">Large Button</Button>
<Button size="xl">Extra Large Button</Button>`;

  let customCss = `--btn-background-color-default
--btn-border-width
--btn-border-style
--btn-border-color
--btn-border-radius
--btn-color-primary
--btn-background-color-primary
--btn-color-positive
--btn-background-color-positive
--btn-color-negative
--btn-background-color-negative
--btn-shadow-base-outer
--btn-shadow-base-inner
--btn-shadow-hover-outer
--btn-shadow-hover-inner
--btn-shadow-active-outer
--btn-shadow-active-inner`;

  let props = [
    {
      title: "class",
      value: "string"
    },
    {
      title: "onClick",
      value: "onClick"
    },
    {
      title: "Style",
      value: '"primary" | "positive" | "negative" | "ghost"'
    },
    {
      title: "Size",
      value: '"xs" | "sm" | "lg" | "xl"'
    }
  ];
</script>

<Use title="Button" {props} {customCss} {markup}>
  <div slot="example">
    <Grid justifyItems="start" alignItems="start">
      <Button onClick={() => alert('Clicky click')}>Button</Button>
      <Button style="ghost">Ghost Button</Button>
      <Button style="primary">Primary Button</Button>
      <Button style="positive">Positive Button</Button>
      <Button style="negative">Negative Button</Button>
      <Button size="xs">Extra Sm Button</Button>
      <Button size="sm">Sm Button</Button>
      <Button size="lg">Large Button</Button>
      <Button size="xl">Extra Large Button</Button>
    </Grid>
  </div>
</Use>
