<script>
  import Heading from "../../components/Heading.svelte";
  import Card from "../../components/Card.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";
  import Table from "../../components/Table.svelte";

  let markup = `<Card>
...
</Card>`;

  let customCss = `--card-background-color
--card-color
--card-shadow
--card-padding-base
--card-padding-xs
--card-padding-sm
--card-padding-lg
--card-padding-xl
`;

  let props = [
    {
      title: "class",
      value: "string"
    },
    { title: "borderRadius", value: '"none" | "xs" | "sm" | "lg" | "xl"' },
    { title: "padding", value: '"none" | "xs" | "sm" | "lg" | "xl"' }
  ];
</script>

<style>
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--space-5);
    background-color: var(--color-info-border);
    padding: var(--gap);
  }
</style>

<Use title="Card" {markup} {customCss} {props}>
  <div slot="example">
    <Grid>
      <Card>
        <span>Example content with some base rounded corners</span>
      </Card>
      <Card borderRadius="none">
        <span>Example content with some no rounded corners</span>
      </Card>
      <Card borderRadius="xl">
        <span>Example content with some xl rounded corners</span>
      </Card>
      <Card padding="sm">
        <span>Example content with small padding</span>
      </Card>
      <Card padding="xl">
        <span>Example content with extra large padding</span>
      </Card>
    </Grid>
  </div>
</Use>
