<script>
  import Checkbox from "../../components/Checkbox.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";

  let markup = `<Checkbox label="Cat" id="cat" name="Favourite" />
<Checkbox label="Dog" id="dog" name="Favourite" />
<Checkbox label="Bird" id="bird" name="Favourite" />`;
  let props = [
    {
      title: "class",
      value: "string"
    }
  ];
  let customCss = `--checkbox-size
--checkbox-button-gap
--checkbox-button-color`;
</script>

<Use title="Checkbox" {props} {markup} {customCss}>
  <div slot="example">
    <Grid justifyItems="start" alignItems="start">
      <Checkbox label="Cat" id="cat" name="Favourite" />
      <Checkbox label="Dog" id="dog" name="Favourite" />
      <Checkbox label="Bird" id="bird" name="Favourite" />
      <hr />
      <Checkbox label="Rena Holmes" id="Holmes" name="People" />
      <Checkbox label="Mamie Gilbert" id="Gilbert" name="People" />
      <Checkbox label="Mary Hogan" id="Hogan" name="People" />
      <Checkbox label="Mina Williams" id="Williams" name="People" />
      <Checkbox label="Blanche Lewis" id="Lewis" name="People" />
    </Grid>
  </div>
</Use>
