<script>
  import Heading from "../../components/Heading.svelte";
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";
  import Table from "../../components/Table.svelte";

  let markup = `<Heading level="1">Heading level 1 = h1</Heading>
<Heading level="2">Heading level 2 = h2</Heading>
<Heading level="3">Heading level 3 = h3</Heading>
<Heading level="4">Heading level 4 = h4</Heading>
<Heading level="5">Heading level 5 = h5</Heading>
<Heading level="6">Heading level 6 = h6</Heading>
<Heading underline level="4">Heading level 4 with underline</Heading>`;
  let props = [
    {
      title: "class",
      value: "string"
    },
    {
      title: "Level",
      value: "1 | 2 | 3 | 4 | 5 | 6"
    },
    {
      title: "Margin",
      value: '"top" | "bottom" | "left" | "right" | "none"'
    },
    {
      title: "Underline",
      value: "underline"
    }
  ];
  let customCss = `--heading-margin-top
--heading-margin-top
--heading-margin-bottom
--heading-margin-left
--heading-margin-right
--heading-line-height
--font-family-title
--font-weight-title`;
</script>

<Use title="Heading" {markup} {customCss} {props}>
  <div slot="example">
    <Grid justifyItems="start" alignItems="start">
      <Heading level="1">Heading level 1 = h1</Heading>
      <Heading level="2">Heading level 2 = h2</Heading>
      <Heading level="3">Heading level 3 = h3</Heading>
      <Heading level="4">Heading level 4 = h4</Heading>
      <Heading level="5">Heading level 5 = h5</Heading>
      <Heading level="6">Heading level 6 = h6</Heading>
      <Heading underline level="4">Heading level 4 with underline</Heading>
      <Heading margin="top bottom left" level="5">
        Heading level 5 margin top, bottom and left
      </Heading>
    </Grid>
  </div>
</Use>
