<script>
  import Use from "../../components/support/Use.svelte";
  import Grid from "../../components/Grid.svelte";
  import Heading from "../../components/Heading.svelte";
  import List from "../../components/List.svelte";
  import ListItem from "../../components/ListItem.svelte";

  let markup = ` <List>
    <ListItem>Item A</ListItem>
    <ListItem>Item B</ListItem>
    <ListItem>Item C</ListItem>
  </List>`;
  let props = [
    {
      title: "class",
      value: "string"
    },
    {
      title: "fontSize",
      value: '"xs" | "sm" | "lg" | "xl"'
    },
    {
      title: "margin",
      value: '"top" | "bottom" | "left" | "right" | "none"'
    },
    {
      title: "listStyle",
      value:
        '"circle" | "disc" | "square" | "decimal" | "lower-latin" | "upper-latin"'
    },
    {
      title: "density",
      value: '"tight" | "loose"'
    }
  ];
  let customCss = `--list-margin-top
--list-margin-bottom
--list-margin-left
--list-margin-right`;
</script>

<Use title="List" {markup} {props} {customCss}>
  <div slot="example">
    <Grid>
      <Heading margin="none" underline level="4">Basic List</Heading>
      <List>
        <ListItem>Cat</ListItem>
        <ListItem>Dog</ListItem>
        <ListItem>Bird</ListItem>
      </List>
      <hr />
      <Heading margin="none" underline level="4">
        Sm Tight List with Style
      </Heading>
      <List fontSize="sm" listStyle="square" density="tight">
        <ListItem>Cat</ListItem>
        <ListItem>Dog</ListItem>
        <List density="tight" listStyle="decimal" margin="left">
          <ListItem>Labrador</ListItem>
          <ListItem>Westie</ListItem>
          <ListItem>Poodle</ListItem>
        </List>
        <ListItem>Bird</ListItem>
      </List>
      <hr />
      <Heading margin="none" underline level="4">Loose List</Heading>
      <List density="loose">
        <ListItem>
          Occaecat deserunt excepteur pariatur aute amet ea in.
        </ListItem>
        <ListItem>Culpa reprehenderit magna nisi nulla adipisicing.</ListItem>
        <ListItem>
          Mollit amet pariatur consectetur sint sunt elit officia ullamco sunt
          labore consectetur.
        </ListItem>
      </List>
      <hr />
    </Grid>
  </div>
</Use>
