<script>
  import { onMount } from "svelte";

  import PageTitle from "../PageTitle.svelte";
  import Highlight from "../Highlight.svelte";
  import Grid from "../../Grid.svelte";
  import Button from "../../Button.svelte";
  import Heading from "../../Heading.svelte";
  import Text from "../../Text.svelte";
  import List from "../../List.svelte";
  import ListItem from "../../ListItem.svelte";

  let smFs;
  let smPx;
  let smPy;
  let smLh;
  let baseFs;
  let basePx;
  let basePy;
  let baseLh;
  let lgFs;
  let lgPx;
  let lgPy;
  let lgLh;
  let xlFs;
  let xlPx;
  let xlPy;
  let xlLh;

  function go() {
    let smGet = document.querySelector(".sm");
    let smSet = window.getComputedStyle(smGet);
    smFs = smSet
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    smPx = smSet
      .getPropertyValue("padding-left")
      .slice(0, -2)
      .substring(0, 5);
    smPy = smSet
      .getPropertyValue("padding-top")
      .slice(0, -2)
      .substring(0, 5);
    smLh = smSet
      .getPropertyValue("line-height")
      .slice(0, -2)
      .substring(0, 5);
    let baseGet = document.querySelector(".base");
    let baseSet = window.getComputedStyle(baseGet);
    baseFs = baseSet
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    basePx = baseSet
      .getPropertyValue("padding-left")
      .slice(0, -2)
      .substring(0, 5);
    basePy = baseSet
      .getPropertyValue("padding-top")
      .slice(0, -2)
      .substring(0, 5);
    baseLh = baseSet
      .getPropertyValue("line-height")
      .slice(0, -2)
      .substring(0, 5);
    let lgGet = document.querySelector(".lg");
    let lgSet = window.getComputedStyle(lgGet);
    lgFs = lgSet
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    lgPx = lgSet
      .getPropertyValue("padding-left")
      .slice(0, -2)
      .substring(0, 5);
    lgPy = lgSet
      .getPropertyValue("padding-top")
      .slice(0, -2)
      .substring(0, 5);
    lgLh = lgSet
      .getPropertyValue("line-height")
      .slice(0, -2)
      .substring(0, 5);
    let xlGet = document.querySelector(".xl");
    let xlSet = window.getComputedStyle(xlGet);
    xlFs = xlSet
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    xlPx = xlSet
      .getPropertyValue("padding-left")
      .slice(0, -2)
      .substring(0, 5);
    xlPy = xlSet
      .getPropertyValue("padding-top")
      .slice(0, -2)
      .substring(0, 5);
    xlLh = xlSet
      .getPropertyValue("line-height")
      .slice(0, -2)
      .substring(0, 5);
  }
  onMount(() => {
    go();
    window.addEventListener("resize", go);
    window.addEventListener("change", go);
  });
</script>

<style>
  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div :global(.buttons) {
    overflow-x: auto;
  }
</style>

<div>
  <Grid density="loose">
    <PageTitle title="Buttons" />
    <Grid class="buttons" templateColumns="max-content auto auto auto auto">
      <span />
      <span>
        <Button class="sm" size="sm">Scale -1</Button>
      </span>
      <span>
        <Button class="base" style="primary">Scale Base</Button>
      </span>
      <span>
        <Button class="lg" size="lg">Scale +1</Button>
      </span>
      <span>
        <Button class="xl" size="xl">Scale +2</Button>
      </span>
      <span>
        <Text margin="none">
          <strong>Font Size</strong>
        </Text>
      </span>
      <span>
        <Highlight>{smFs}px</Highlight>
      </span>
      <span>
        <Highlight>{baseFs}px</Highlight>
      </span>
      <span>
        <Highlight>{lgFs}px</Highlight>
      </span>
      <span>
        <Highlight>{xlFs}px</Highlight>
      </span>
      <span>
        <Text margin="none">
          <strong>Line Height</strong>
        </Text>
      </span>
      <span>
        <Highlight>{smLh}px</Highlight>
      </span>
      <span>
        <Highlight>{baseLh}px</Highlight>
      </span>
      <span>
        <Highlight>{lgLh}px</Highlight>
      </span>
      <span>
        <Highlight>{xlLh}px</Highlight>
      </span>
      <span>
        <Text margin="none">
          <strong>↔ Padding</strong>
        </Text>
      </span>
      <span>
        <Highlight>{smPx}px</Highlight>
      </span>
      <span>
        <Highlight>{basePx}px</Highlight>
      </span>
      <span>
        <Highlight>{lgPx}px</Highlight>
      </span>
      <span>
        <Highlight>{xlPx}px</Highlight>
      </span>
      <span>
        <Text margin="none">
          <strong>↕ Padding</strong>
        </Text>
      </span>
      <span>
        <Highlight>{smPy}px</Highlight>
      </span>
      <span>
        <Highlight>{basePy}px</Highlight>
      </span>
      <span>
        <Highlight>{lgPy}px</Highlight>
      </span>
      <span>
        <Highlight>{xlPy}px</Highlight>
      </span>
    </Grid>
  </Grid>
</div>
