<script>
  import { onMount } from "svelte";
  import PageTitle from "../PageTitle.svelte";

  import Heading from "../../Heading.svelte";
  import Text from "../../Text.svelte";
  import Grid from "../../Grid.svelte";
  import Highlight from "../Highlight.svelte";

  let h1CurrentSize;
  let h2CurrentSize;
  let h3CurrentSize;
  let h4CurrentSize;
  let h5CurrentSize;
  let h6CurrentSize;
  let textBaseCurrentSize;
  let textSmCurrentSize;
  let textXsCurrentSize;
  function go() {
    let h1 = document.querySelector("h1");
    let h1Size = window.getComputedStyle(h1);
    h1CurrentSize = h1Size
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    let h2 = document.querySelector("h2");
    let h2Size = window.getComputedStyle(h2);
    h2CurrentSize = h2Size
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    let h3 = document.querySelector("h3");
    let h3Size = window.getComputedStyle(h3);
    h3CurrentSize = h3Size
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    let h4 = document.querySelector("h4");
    let h4Size = window.getComputedStyle(h4);
    h4CurrentSize = h4Size
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    let h5 = document.querySelector("h5");
    let h5Size = window.getComputedStyle(h5);
    h5CurrentSize = h5Size
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    let h6 = document.querySelector("h6");
    let h6Size = window.getComputedStyle(h6);
    h6CurrentSize = h6Size
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    let textBase = document.querySelector(".textBase");
    let textBaseSize = window.getComputedStyle(textBase);
    textBaseCurrentSize = textBaseSize
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    let textSm = document.querySelector(".textSm");
    let textSmSize = window.getComputedStyle(textSm);
    textSmCurrentSize = textSmSize
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
    let textXs = document.querySelector(".textXs");
    let textXsSize = window.getComputedStyle(textXs);
    textXsCurrentSize = textXsSize
      .getPropertyValue("font-size")
      .slice(0, -2)
      .substring(0, 5);
  }
  onMount(() => {
    go();
    window.addEventListener("resize", go);
    window.addEventListener("change", go);
  });
</script>

<style>
  p {
    max-width: 70ch;
  }
</style>

<Grid density="loose">
  <PageTitle title="Typography" />
  <div class="examples">
    <Heading level="1">
      h1 currently has a font-size of
      <Highlight>{h1CurrentSize}px</Highlight>
    </Heading>
    <Heading level="2">
      h2 currently has a font-size of
      <Highlight>{h2CurrentSize}px</Highlight>
    </Heading>
    <Heading level="3">
      h3 currently has a font-size of
      <Highlight>{h3CurrentSize}px</Highlight>
    </Heading>
    <Heading level="4">
      h4 currently has a font-size of
      <Highlight>{h4CurrentSize}px</Highlight>
    </Heading>
    <Heading level="5">
      h5 currently has a font-size of
      <Highlight>{h5CurrentSize}px</Highlight>
    </Heading>
    <Heading level="6">
      h6 currently has a font-size of
      <Highlight>{h6CurrentSize}px</Highlight>
    </Heading>
  </div>

  <PageTitle title="Text" />
  <Grid density="loose">
    <Text>
      <Heading level="5" underline>Base</Heading>
      <p class="textBase">
        The font-size of body text is
        <Highlight>{textBaseCurrentSize}px.</Highlight>
      </p>
      <p>
        Excepteur mollit tempor occaecat commodo sit laborum esse nostrud magna
        cupidatat nisi. Minim consectetur velit ea sint dolore et elit dolor non
        voluptate commodo excepteur. Deserunt veniam tempor eiusmod proident
        quis sint aliquip voluptate proident voluptate exercitation Lorem ea.
        Esse esse fugiat fugiat consequat labore Lorem cillum magna culpa magna
        ullamco laborum et. Sunt ad duis proident qui et. Cupidatat magna veniam
        magna duis sit eu nisi cupidatat incididunt esse do fugiat nostrud in.
        Magna Lorem quis officia cillum occaecat ad dolor ea sint aliquip.
      </p>

      <p>
        Pariatur commodo proident consequat laborum amet excepteur nisi fugiat
        minim. Labore et sunt magna dolor ex sit laboris consectetur deserunt
        culpa. Deserunt incididunt dolor fugiat reprehenderit esse irure commodo
        consequat occaecat amet incididunt aliqua. Quis et laborum laborum
        reprehenderit adipisicing veniam dolor ut sit magna exercitation do amet
        cupidatat.
      </p>
    </Text>
    <Heading level="5" underline>Sm</Heading>
    <Text fontSize="sm">
      <p class="textSm">
        The font-size of sm text is
        <Highlight>{textSmCurrentSize}px.</Highlight>
      </p>
      <p>
        Quis incididunt est occaecat mollit reprehenderit consectetur do sunt
        excepteur aute excepteur. Reprehenderit Lorem ea eu nisi labore nisi
        nisi quis non proident et elit. Veniam fugiat sunt sit do sit excepteur
        cupidatat eu eiusmod voluptate sunt velit. Labore ipsum in sit aute
        Lorem qui ut.
      </p>

      <p>
        Enim consequat commodo exercitation Lorem laboris esse reprehenderit.
        Tempor aliquip exercitation Lorem quis. Qui ea duis do commodo ex.
        Aliquip dolor et fugiat enim reprehenderit ad voluptate in magna dolore
        ex adipisicing commodo.
      </p>

      <p>
        Laboris minim ea cillum cillum. Consectetur fugiat tempor cillum magna
        consequat id dolore laborum exercitation reprehenderit eiusmod duis.
        Cillum anim aliquip et veniam id laboris. Ad magna nulla anim Lorem
        mollit ex. Occaecat anim ea incididunt pariatur reprehenderit sunt sunt
        aliqua voluptate nostrud mollit officia.
      </p>
    </Text>
    <Heading level="5" underline>Xs</Heading>
    <Text fontSize="xs">
      <p class="textXs">
        The font-size of xs text is
        <Highlight>{textXsCurrentSize}px.</Highlight>
      </p>
      <p>
        Culpa mollit laboris proident qui nisi elit eiusmod do eu voluptate ex
        velit. Aliqua laboris do ad id. Quis labore sunt officia ea. Voluptate
        sint sint incididunt pariatur elit nisi excepteur ipsum aliquip. Laboris
        non ipsum aute anim. Velit elit ad cupidatat dolor pariatur commodo esse
        mollit ex anim nulla.
      </p>

      <p>
        Aliqua esse et veniam consectetur. Officia nulla id aliqua duis anim
        voluptate nostrud minim adipisicing nulla sint ex officia. Aute elit
        dolore voluptate non excepteur pariatur deserunt qui officia tempor
        culpa aliqua consequat.
      </p>

      <p>
        Eiusmod in labore voluptate aute pariatur aliqua labore irure dolor
        deserunt cupidatat consequat aliqua irure. Et non et ullamco nulla
        nostrud. Ipsum aute tempor dolor laboris duis cillum ipsum commodo
        laboris eiusmod. Do dolor mollit est Lorem.
      </p>
    </Text>
  </Grid>
</Grid>
