<script>
  import Styles from "./Styles.svelte";
  let class_name = null;
  export { class_name as class };
  export let onClick = null;
  export let size = undefined;
  $: size = undefined ? "xs" | "sm" | "lg" | "xl" : size;
  export let style = undefined;
  $: style = undefined ? "primary" | "positive" | "negative" | "ghost" : style;
</script>

<style>
  :root {
    --btn-color-default: var(--color-dark);
    --btn-background-color-default: hsla(
      var(--color-dark-h),
      var(--color-dark-s),
      100%,
      var(--color-dark-a)
    );
    --btn-border-width: 0;
    --btn-border-style: solid;
    --btn-border-color: transparent;
    --btn-border-radius: var(--border-radius-xs);
    --btn-color-primary: var(--color-light);
    --btn-background-color-primary: var(--color-primary);
    --btn-color-positive: var(--color-light);
    --btn-background-color-positive: var(--color-positive);
    --btn-color-negative: var(--color-light);
    --btn-background-color-negative: var(--color-negative);
    /*  */
    --btn-shadow-base-outer: var(--shadow--2);
    --btn-shadow-base-inner: 0 0 0 transparent inset;
    --btn-shadow-hover-outer: 0 0 0 transparent;
    --btn-shadow-hover-inner: 0 0 var(--border-width-base)
      hsla(var(--color-dark-h), var(--color-dark-s), var(--color-dark-l), 0.3)
      inset;
    --btn-shadow-active-outer: 0 0 0 transparent;
    --btn-shadow-active-inner: var(--shadow--2) inset;
  }
  button {
    position: relative;
    font-size: var(--font-size-base);
    padding: var(--space-0) var(--space-1);
    line-height: var(--line-height-tight);
    font-weight: var(--font-weight-bold);
    color: var(--btn-color-default);
    background-color: var(--btn-background-color-default);
    border: var(--btn-border-width) var(--btn-border-border-style)
      var(--btn-border-border-color);
    border-radius: var(--btn-border-radius);
    word-break: normal;
  }
  button::before {
    transition: box-shadow 200ms;
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--btn-border-radius);
    box-shadow: var(--btn-shadow-base-inner), var(--btn-shadow-base-outer);
    mix-blend-mode: multiply;
  }
  button:hover::before,
  button:focus::before {
    box-shadow: var(--btn-shadow-hover-inner), var(--btn-shadow-hover-outer);
  }
  button:active::before {
    box-shadow: var(--btn-shadow-active-inner), var(--btn-shadow-active-outer);
  }
  [style="primary"] {
    color: var(--btn-color-primary);
    background-color: var(--btn-background-color-primary);
  }
  [style="positive"] {
    color: var(--btn-color-positive);
    background-color: var(--btn-background-color-positive);
  }
  [style="negative"] {
    color: var(--btn-color-negative);
    background-color: var(--btn-background-color-negative);
  }
  [style="ghost"] {
    background-color: transparent;
  }
  [style="ghost"]:before {
    display: none;
  }
  [size="xs"] {
    font-size: var(--font-size-xs);
    padding: var(--space--2) var(--space--1);
  }
  [size="sm"] {
    font-size: var(--font-size-sm);
    padding: var(--space--1) var(--space-0);
  }
  [size="lg"] {
    font-size: var(--font-size-lg);
    padding: var(--space-1) var(--space-2);
  }
  [size="xl"] {
    font-size: var(--font-size-xl);
    padding: var(--space-2) var(--space-3);
  }
</style>

<button {size} {style} on:click={onClick} class={class_name}>
  <slot>Button</slot>
</button>
