<script>
  export let checked = false;

  import Styles from "./Styles.svelte";
  let class_name = null;
  export { class_name as class };
  export let label = "Checkbox";
  export let id;
  export let name = "checkGroup";
</script>

<style>
  :root {
    --checkbox-size: var(--font-size-base);
    --checkbox-button-gap: var(--border-width-chunky);
    --checkbox-button-color: var(--color-dark);
  }
  label {
    font-size: var(--font-size-base);
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    user-select: none;
  }
  input {
    display: none;
  }
  span {
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    background-color: transparent;
    border: var(--checkbox-button-gap) solid var(--checkbox-button-color);
    position: relative;
    margin-right: var(--gap);
  }
  span::after {
    font-weight: var(--font-weight-bold);
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  :checked + span:after {
    content: "✓";
  }
</style>

<label class={class_name} for={id}>
  <input type="checkbox" {name} {id} />
  <span />
  {label}
</label>
