<script>
  import Styles from "./Styles.svelte";
  let class_name = "";
  export { class_name as class };
  export let alignItems = "normal";
  export let justifyItems = "normal";
  export let templateColumns = "1fr";
  export let templateRows = "auto";
  $: density = undefined ? "tight" | "loose" : density;
  export let density = undefined;
</script>

<style>
  div {
    display: grid;
    gap: var(--gap);
    grid-template-columns: var(--templateColumns);
    grid-template-rows: var(--templateRows);
    justify-items: var(--justifyItems);
    align-items: var(--alignItems);
  }
  [density="tight"] {
    gap: var(--space--2);
  }
  [density="loose"] {
    gap: var(--space-2);
  }
</style>

<div
  class={class_name}
  {density}
  style=" --justifyItems:{justifyItems}; --alignItems:{alignItems};
  --templateColumns:{templateColumns}; --templateRows:{templateRows};">
  <slot />
</div>
