<script>
  import Styles from "./Styles.svelte";
  import Grid from "../components/Grid.svelte";
  import Text from "../components/Text.svelte";
  let class_name = "";
  export { class_name as class };
  export let label;
  export let placeholder;
  export let defaultValue = "";
  export let help = false;
  export let disabled = false;
  export let type = "text";
  $: type = undefined ? "text" | "email" | "number" : type;
  export let density = undefined;
  $: density = undefined ? "tight" | "loose" : density;
  export let size = undefined;
  $: size = undefined ? "xs" | "sm" | "lg" | "xl" : size;
</script>

<style>
  :root {
    --input-label-font-size: var(--font-size-base);
    --input-label-color: var(--color-dark);
    --input-padding: var(--space--1);
    --input-font-size: var(--font-size-base);
    --input-font-family: var(--font-family-base);
    --input-background-color: hsla(
      var(--color-dark-h),
      var(--color-dark-s),
      100%,
      var(--color-dark-a)
    );
    --input-disabled-background-color: hsla(
      var(--color-dark-h),
      var(--color-dark-s),
      40%,
      0.2
    );
    --input-border-radius: var(--border-radius-xs);
    --input-border-width: var(--border-width-base);
    --input-border-color: var(--color-input-border);
    --input-border-color-active: var(--color-input-border-active);
  }
  label {
    color: var(--input-label-color);
    font-size: var(--input-label-font-size);
    line-height: var(--line-height-tight);
    width: 100%;
  }
  input {
    width: calc(100% - var(--input-padding) - var(--input-padding));
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    font-family: var(--input-font-family);
    background-color: var(--input-background-color);
    border-radius: var(--input-border-radius);
    border: var(--input-border-width) solid var(--input-border-color);
  }
  .sizeSm {
    padding: var(--space--2);
    width: calc(100% - var(--space--2) - var(--space--2));
    font-size: var(--font-size-sm);
  }
  [disabled],
  [disabled]:hover,
  [disabled]:focus,
  [disabled]:active {
    cursor: not-allowed;
    background-color: var(--input-disabled-background-color);
    border-color: var(--input-border-color);
  }
  input:active,
  input:focus {
    border-color: var(--input-border-color-active);
  }
  [size="xs"] {
    padding: var(--space--2);
    width: calc(100% - var(--space--2) - var(--space--2));
  }
  [size="sm"] {
    padding: var(--space--1);
    width: calc(100% - var(--space--1) - var(--space--1));
  }
  [size="lg"] {
    padding: var(--space-1);
    width: calc(100% - var(--space-1) - var(--space-1));
  }
  [size="xl"] {
    padding: var(--space-2);
    width: calc(100% - var(--space-2) - var(--space-2));
  }
  div {
    display: grid;
    gap: var(--space--1);
  }
  [density="tight"] {
    gap: var(--space--2);
  }
  [density="loose"] {
    gap: var(--space-0);
  }
</style>

<div {density}>
  {#if label}
    <label class={class_name} for={label}>{label}</label>
  {/if}
  <input
    class={class_name}
    id={label}
    value={defaultValue}
    {type}
    {size}
    {placeholder}
    {disabled} />
  {#if help}
    <Text fontSize="xs">{help}</Text>
  {/if}
</div>
