<script>
  import Styles from "./Styles.svelte";
  let class_name = "";
  export { class_name as class };
  export let status = "info";
  $: status = undefined ? "info" | "positive" | "negative" : status;
</script>

<style>
  div {
    background: transparent;
    border-width: var(--border-width-base);
    border-style: solid;
    padding: var(--gap);
    font-size: var(--font-size-base);
  }
  [status="info"] {
    color: var(--color-info-text);
    border-color: var(--color-info-border);
    background-color: var(--color-info-background);
  }
  [status="negative"] {
    color: var(--color-negative);
    border-color: var(--color-negative);
    background-color: hsla(
      var(--color-negative-h),
      var(--color-negative-s),
      var(--color-negative-l),
      0.1
    );
  }
  [status="positive"] {
    color: var(--color-positive);
    border-color: var(--color-positive);
    background-color: hsla(
      var(--color-positive-h),
      var(--color-positive-s),
      var(--color-positive-l),
      0.1
    );
  }
</style>

<div class={class_name} {status}>
  <slot />
</div>
