<script>
  import Styles from "./Styles.svelte";
  let class_name = null;
  export { class_name as class };
  export let label = "Radio";
  export let id;
  export let name = "radioGroup";
</script>

<style>
  :root {
    --radio-size: var(--font-size-base);
    --radio-button-gap: var(--border-width-chunky);
    --radio-button-color: var(--color-dark);
  }
  label {
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    user-select: none;
    font-size: var(--font-size-base);
  }
  input {
    display: none;
  }
  span {
    height: var(--radio-size);
    width: var(--radio-size);
    background-color: transparent;
    border: var(--radio-button-gap) solid var(--radio-button-color);
    position: relative;
    border-radius: 100%;
    margin-right: var(--gap);
  }
  span::after {
    content: "";
    display: block;
    position: absolute;
    top: var(--radio-button-gap);
    right: var(--radio-button-gap);
    bottom: var(--radio-button-gap);
    left: var(--radio-button-gap);
    border-radius: 100%;
  }
  :checked + span:after {
    background-color: var(--radio-button-color);
  }
</style>

<label class={class_name} for={id}>
  <input type="radio" {name} {id} />
  <span />
  {label}
</label>
