<script>
  import Styles from "./Styles.svelte";
  import Grid from "./Grid.svelte";
  import Text from "./Text.svelte";
  let class_name = null;
  export { class_name as class };
  const uniqueId = "id" + Math.floor(Math.random() * 10000 + 1);
  export let label = "Range";
  export let id = uniqueId;
  export let min;
  export let max;
  export let value = 0 | undefined;
  export let step = undefined;
  export let name;
  export let output = uniqueId + uniqueId;
  export let outputUnit = "";
  export let help = false;
  let oninput = output + ".value=" + id + ".value";
  export let density = undefined;
  $: density = undefined ? "tight" | "loose" : density;
</script>

<style>
  :root {
    --range-track-height: var(--border-width-chunky);
    --range-track-width: 100%;
    --range-track-background-color: var(--color-dark);
    --range-track-border-radius: var(--border-radius-xl);
    --range-track-border: 0;
    --range-thumb-background-color: var(--color-light);
    --range-thumb-border: var(--border-width-chunky) solid var(--color-dark);
    --range-thumb-height: var(--font-size-lg);
    --range-thumb-width: var(--font-size-lg);
    --range-thumb-border-radius: var(--border-radius-xl);
  }
  div {
    width: 100%;
    display: grid;
    gap: var(--space--1);
    font-size: var(--font-size-base);
  }
  [density="tight"] {
    gap: var(--space--2);
  }
  [density="loose"] {
    gap: var(--space-0);
  }
  label {
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    user-select: none;
  }
  input {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
  }
  input:focus {
    outline: none;
  }
  input::-webkit-slider-runnable-track {
    width: var(--range-track-width);
    height: var(--range-track-height);
    cursor: pointer;
    background: var(--range-track-background-color);
    border-radius: var(--range-track-border-radius);
    border: var(--range-track-border);
  }
  input::-webkit-slider-thumb {
    border: var(--range-thumb-border);
    height: var(--range-thumb-height);
    width: var(--range-thumb-width);
    border-radius: var(--range-thumb-border-radius);
    background: var(--range-thumb-background-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input:focus::-webkit-slider-runnable-track {
    background: var(--range-track-background-color);
  }
  input::-moz-range-track {
    width: var(--range-track-width);
    height: var(--range-track-height);
    cursor: pointer;
    background: var(--range-track-background-color);
    border-radius: var(--range-track-border-radius);
    border: var(--range-track-border);
  }
  input::-moz-range-thumb {
    border: var(--range-thumb-border);
    height: var(--range-thumb-height);
    width: var(--range-thumb-width);
    border-radius: var(--range-thumb-border-radius);
    background: var(--range-thumb-background-color);
    cursor: pointer;
  }
</style>

<div class={class_name} {density}>
  <Grid density="tight" templateColumns="auto 1fr">
    <label for={id}>{label}</label>
    <span>
      <output name={output} id={output} for={id}>{value}</output>
      {outputUnit}
    </span>
  </Grid>
  <div>
    <input type="range" {name} {id} {min} {max} {value} {step} {oninput} />
  </div>
  {#if help}
    <Text fontSize="xs">{help}</Text>
  {/if}
</div>
