<script>
  import Styles from "./Styles.svelte";
  let class_name = "";
  export { class_name as class };
  $: margin = undefined ? "top" | "bottom" | "left" | "right" | "none" : margin;
  export let margin = "bottom";
  $: lineHeight = undefined ? "tight" | "loose" : lineHeight;
  export let lineHeight = undefined;
  $: fontSize = undefined ? "xs" | "sm" | "lg" | "xl" : fontSize;
  export let fontSize = undefined;
  export let secondary = undefined;
</script>

<style>
  :root {
    --text-margin-top: 1em;
    --text-margin-bottom: 1em;
    --text-margin-left: 1em;
    --text-margin-right: 1em;
    --text-size-xs: var(--font-size-xs);
    --text-size-sm: var(--font-size-sm);
    --text-size-lg: var(--font-size-lg);
    --text-size-xl: var(--font-size-xl);
    --text-line-height-tight: var(--line-height-tight);
    --text-line-height-loose: var(--line-height-loose);
    --text-secondary-opacity: 0.8;
  }
  div {
    font-size: var(--font-size-base);
  }
  [margin="none"] {
    margin: 0;
  }
  [margin*="top"] {
    margin-top: var(--text-margin-top);
  }
  [margin*="bottom"] {
    margin-bottom: var(--text-margin-bottom);
  }
  [margin*="left"] {
    margin-left: var(--text-margin-left);
  }
  [margin*="right"] {
    margin-right: var(--text-margin-right);
  }
  [lineHeight="tight"] {
    line-height: var(--text-line-height-tight);
  }
  [lineHeight="loose"] {
    line-height: var(--text-line-height-loose);
  }
  [fontSize="xs"] {
    font-size: var(--text-size-xs);
  }
  [fontSize="sm"] {
    font-size: var(--text-size-sm);
  }
  [fontSize="lg"] {
    font-size: var(--text-size-lg);
  }
  [fontSize="xl"] {
    font-size: var(--text-size-xl);
  }
  [secondary] {
    opacity: var(--text-secondary-opacity);
  }
  div > :global(*) {
    margin-top: 0;
  }
  div > :global(*) {
    margin-top: 1em;
  }
  div > :global(*) {
    margin-bottom: 1em;
  }
  div > :global(*:last-child) {
    margin-bottom: 0;
  }
</style>

<div class={class_name} {fontSize} {lineHeight} {margin} {secondary}>
  <slot />
</div>
