<script>
  import Styles from "./Styles.svelte";
  import Grid from "../components/Grid.svelte";
  import Text from "../components/Text.svelte";
  let class_name = "";
  export { class_name as class };
  export let label;
  export let placeholder = undefined;
  export let defaultValue = "";
  export let help = false;
  export let disabled = false;
  export let density = undefined;
  $: density = undefined ? "tight" | "loose" : density;
</script>

<style>
  :root {
    --textarea-height: var(--space-5);
    --textarea-label-font-size: var(--font-size-base);
    --textarea-label-color: var(--color-dark);
    --textarea-padding: var(--space--1);
    --textarea-font-size: var(--font-size-base);
    --textarea-font-family: var(--font-family-base);
    --textarea-background-color: hsla(
      var(--color-dark-h),
      var(--color-dark-s),
      100%,
      var(--color-dark-a)
    );
    --textarea-disabled-background-color: hsla(
      var(--color-dark-h),
      var(--color-dark-s),
      40%,
      0.2
    );
    --textarea-border-radius: var(--border-radius-xs);
    --textarea-border-width: var(--border-width-base);
    --textarea-border-color: var(--color-input-border);
    --textarea-border-color-active: var(--color-input-border-active);
  }
  div {
    display: grid;
    gap: var(--space--1);
  }
  [density="tight"] {
    gap: var(--space--2);
  }
  [density="loose"] {
    gap: var(--space-0);
  }
  label {
    color: var(--textarea-label-color);
    font-size: var(--textarea-label-font-size);
    line-height: var(--line-height-tight);
    width: 100%;
  }
  textarea {
    height: var(--textarea-height);
    width: calc(100% - var(--textarea-padding) - var(--textarea-padding));
    padding: var(--textarea-padding);
    font-size: var(--textarea-font-size);
    font-family: var(--textarea-font-family);
    background-color: var(--textarea-background-color);
    border-radius: var(--textarea-border-radius);
    border: var(--textarea-border-width) solid var(--textarea-border-color);
  }
</style>

<div {density}>
  {#if label}
    <label class={class_name} for={label}>{label}</label>
  {/if}
  <textarea
    class={class_name}
    id={label}
    value={defaultValue}
    {placeholder}
    {disabled} />
  {#if help}
    <Text fontSize="xs">{help}</Text>
  {/if}
</div>
